html, body {
	margin: 0 20%;
	padding: 0;
	font-family: Arial;
	font-size: 0.85em;
	color: #000;
	background: #fff;
}

body {
	/*border: 5px solid #fff;*/
}

div.block {
	min-height: 300px;
	border: 1px solid #ccc;
	margin: 20px 0;
	padding: 15%;
}

.red, .blue, .green {
	color: #fff;
}

.red {
	background: darkred;
}

.blue {
	background: darkblue;
}

.green {
	background: green;
}



body.up {
	border-color: #ccc;
}
body.down {
	border-color: #333;
}

.block {
	opacity: 0;
	transition: opacity .5s, transform .5s;
	transition-delay: .25s;
}

.block.down {
	transform: translateY(50%);
}

.block.up {
	transform: translateY(-50%);
}

.block.inview {
	opacity: 1;
	transform: translateY(0);
}